html {
    height: 100%;
}

body {
    height: inherit;
    background-color: rgb(237, 242, 247);
}

#app {
    height: inherit;
}

/* test color */
.bd {
    border: 1px solid orangered;
}
.bdg {
    border: 1px solid limegreen;
}
.bdb {
    border: 1px solid deepskyblue;
}
